.table thead th {
    background-color:  rgb(80, 59, 128);
    color: #fff;
  }
  .btn-actions {
    background-color: transparent;
    color: rgb(80, 59, 128);
    padding: 0;
    box-shadow: none;
    border: none;
  }
  .btn-actions:hover {
    background-color: transparent;
    padding: 0;
    box-shadow: none;
    border: none;
  }
  .weightageForm{
    background-color:  rgb(80, 59, 128);
  }
  .total-stats {
  display: inline-block;
  padding: 10px;
  border: 1px solid rgb(80, 59, 128);
  border-radius: 5px;
  background-color: rgb(80, 59, 128);
  color: #fff;
  margin-right: 20px; /* Adjust as needed */
  float: right;
}